body{
    background-image: url("http://az616578.vo.msecnd.net/files/2016/08/28/6360794492949227951896575883_Words.jpg");
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.game {
    background-color: lightgray;
    width: 670px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game form{
    display: flex;
    justify-content: center;
}